{% extends "accounts/accounts.html" %}
{% block accounts %}

{% if error %}
<div class="alert alert-danger" role="alert">
  {{error}}
</div>
<br>
<br>
{% endif %}
<div class="myform form ">
  <div class="logo mb-3">
    <div class="col-md-12 text-center">
      <h1>Signup</h1>
    </div>
  </div>
  <form action="{% url 'signup' %}" name="registration" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input type="text" name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp"
        placeholder="Enter Firstname">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Last Name</label>
      <input type="text" name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp"
        placeholder="Enter Lastname">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="username" class="form-control" id="email" aria-describedby="emailHelp"
        placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Password</label>
      <input type="password" name="password1" id="password" class="form-control" aria-describedby="emailHelp"
        placeholder="Enter Password">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Confirm Password</label>
      <input type="password" name="password2" id="password" class="form-control" aria-describedby="emailHelp"
        placeholder="Confirm Password">
    </div>
    <div class="col-md-12 text-center mb-3">
      <button type="submit" class=" btn btn-block mybtn btn-dark tx-tfm">Get Started For Free</button>
    </div>
    <div class="col-md-12 ">
      <div class="form-group">
        <p class="text-center"><a href="{% url 'login' %}" id="signin">Already have an account?</a></p>
      </div>
    </div>
</div>
</form>
</div>


{% endblock accounts %}