




{% extends "accounts/accounts.html" %}
{% block products_block %}


{% for product in products.all %}

<div class="myform form col-md-8 mx-auto" style="max-width: unset ; max-height: max-content">
    <div class="row">
        <div class="col-md-2" >
            <img src="{{ product.icon.url }}" class="img-fluid" />
        </div>
        <div class="col-md-9">
            <a href="{% url 'detail' product.id %}">
                <h5>{{product.title}}</h5>
            </a>
            <small class="row justify-content-center">{{ product.hunter.username }} </small>
            <small class="row justify-content-center">{{product.pub_date}}</small>
        </div>
        <div class="col-md-1">
            <a href=" javascript:{document.getElementById('upvote').submit()}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">
                <h3>👍 {{ product.votes_total }}</h3>
            </a>
        </div>
    </div>

</div>



<form id='upvote' action="{% url 'upvote' product.id %}"  method="POST">
    {% csrf_token %}
    <input type="hidden">
</form>
{% endfor %}
{% endblock products_block %}